body{
    margin: 0%;
    padding: 0%;
    background-color: linear-gradient(#f4508c, #e99664);
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
.container
{
    height: 700px;
    width: 700px;
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.sun{
    height: 200px;
    width: 200px;
    background-color: #f3ebae;
    border-radius: 50%;
    position: relative;
    left: 700px;
    top: -30px;
}
.sun::before{
    position: absolute;
    top:-10%;
    left: -10%;
    border-radius: 50%;
    content: '';
    background-color: #f3ebae;
    opacity: 0.5;
    height: 120%;
    width: 120%;
}
.sun::after{
    position: absolute;
    top:-20%;
    left: -20%;
    border-radius: 50%;
    content: '';
    background-color: #f3ebae;
    opacity: 0.5;
    height: 140%;
    width: 140%;
}
.text,.Shadow{
    font-size: 100px;
    font-family: 'Times New Roman';
    position: relative;
}
.Shadow{
    color: rgba(3, 3, 3, 0.301);
    transform-origin: 2% 13%;
    transform: rotate(-40deg) skew(40deg) scaley(1.39) ;
    top:395px;
    left: -60px;
    right: 20px;
}
.text{
    color: #ffffff;
    transform: rotate(-40deg) skew(-40deg) ;
    right: 0px;
    left: 0px;
    top: 0px;
}
